<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ixchou.mappings.TCourseMapper" >
  <resultMap id="BaseResultMap" type="com.ixchou.model.entity.TCourse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="class_time" property="classTime" jdbcType="VARCHAR" />
    <result column="class_type" property="classType" jdbcType="INTEGER" />
    <result column="fee" property="fee" jdbcType="INTEGER" />
    <association property="cover" column="cover_id" fetchType="eager" select="com.ixchou.mappings.TAttachmentMapper.selectByPrimaryKey"/>
    <association property="content" column="content_id" fetchType="eager" select="com.ixchou.mappings.TContentMapper.selectByPrimaryKey"/>
    <association property="term" column="class_type" fetchType="eager" select="com.ixchou.mappings.TTermMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, create_time, update_time, name, cover_id, content_id, class_time, class_type, fee
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_course
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 直接查询 -->
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_course
    where is_deleted = 0
  </select>
  <!-- 模糊查询 -->
  <select id="fuzzySearch" parameterType="com.ixchou.model.entity.TCourse" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_course
    where is_deleted = 0 and
    <trim suffixOverrides=" or" prefix="(" suffix=")">
      <if test="id != null">
        id <![CDATA[=]]> #{id,jdbcType=INTEGER} or
      </if>
      <if test="name != null and name != '' ">
        instr(name,#{name,jdbcType=VARCHAR}) > 0 or
      </if>
    </trim>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update t_course
    set is_deleted = 1
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </delete>
  <insert id="insertSelective" parameterType="com.ixchou.model.entity.TCourse" useGeneratedKeys="true" keyProperty="id">
    insert into t_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="classTime != null" >
        class_time,
      </if>
      <if test="coverId != null" >
        cover_id,
      </if>
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="classType != null" >
        class_type,
      </if>
      <if test="fee != null" >
        fee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="classTime != null" >
        #{classTime,jdbcType=VARCHAR},
      </if>
      <if test="coverId != null" >
        #{coverId,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="classType != null" >
        #{classType,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ixchou.model.entity.TCourse" >
    update t_course
    <set>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="classTime != null" >
        class_time = #{classTime,jdbcType=VARCHAR},
      </if>
      <if test="coverId != null" >
        cover_id = #{coverId,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="classType != null" >
        class_type = #{classType,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </update>
</mapper>