<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ixchou.mappings.TMemberMapper" >
  <resultMap id="BaseResultMap" type="com.ixchou.model.entity.TMember" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="is_upload_able" property="isUploadAble" jdbcType="TINYINT" />
    <result column="wx_sex" property="wxSex" jdbcType="TINYINT" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="session_id" property="sessionId" jdbcType="VARCHAR" />
    <result column="wx_id" property="wxId" jdbcType="VARCHAR" />
    <result column="wx_session" property="wxSession" jdbcType="VARCHAR" />
    <result column="wx_nick_name" property="wxNickName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, is_upload_able, wx_sex, last_login_time, register_time, phone, user_name, 
    session_id, wx_id, wx_session, wx_nick_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_member
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </select>
  <select id="selectBySessionId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from t_member
    where session_id = #{sessionId, jdbcType=VARCHAR} and is_deleted = 0
  </select>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_member
    where is_deleted = 0
  </select>
  <!-- 模糊查询 -->
  <select id="fuzzySearch" parameterType="com.ixchou.model.entity.TMember" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_member
    where is_deleted = 0 and
    <trim suffixOverrides=" or" prefix="(" suffix=")">
      <if test="id != null">
        id <![CDATA[=]]> #{id,jdbcType=INTEGER} or
      </if>
      <if test="isUploadAble != null">
        is_upload_able <![CDATA[=]]> #{isUploadAble,jdbcType=TINYINT} or
      </if>
      <if test="phone != null and phone != '' ">
        instr(phone,#{phone,jdbcType=VARCHAR}) > 0 or
      </if>
      <if test="userName != null and userName != '' ">
        instr(user_name,#{userName,jdbcType=VARCHAR}) > 0 or
      </if>
      <if test="sessionId != null and sessionId != '' ">
        instr(session_id,#{sessionId,jdbcType=VARCHAR}) > 0 or
      </if>
      <if test="wxId != null and wxId != '' ">
        instr(wx_id,#{wxId,jdbcType=VARCHAR}) > 0 or
      </if>
      <if test="wxSession != null and wxSession != '' ">
        instr(wx_session,#{wxSession,jdbcType=VARCHAR}) > 0 or
      </if>
      <if test="wxNickName != null and wxNickName != '' ">
        instr(wx_nick_name,#{wxNickName,jdbcType=VARCHAR}) > 0 or
      </if>
    </trim>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update t_member
    set is_deleted = 1
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </delete>
  <insert id="insertSelective" parameterType="com.ixchou.model.entity.TMember" useGeneratedKeys="true" keyProperty="id">
    insert into t_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="isUploadAble != null" >
        is_upload_able,
      </if>
      <if test="wxSex != null" >
        wx_sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="wxId != null" >
        wx_id,
      </if>
      <if test="wxSession != null" >
        wx_session,
      </if>
      <if test="wxNickName != null" >
        wx_nick_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="isUploadAble != null" >
        #{isUploadAble,jdbcType=TINYINT},
      </if>
      <if test="wxSex != null" >
        #{wxSex,jdbcType=TINYINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="wxId != null" >
        #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="wxSession != null" >
        #{wxSession,jdbcType=VARCHAR},
      </if>
      <if test="wxNickName != null" >
        #{wxNickName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ixchou.model.entity.TMember" >
    update t_member
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="isUploadAble != null" >
        is_upload_able = #{isUploadAble,jdbcType=TINYINT},
      </if>
      <if test="wxSex != null" >
        wx_sex = #{wxSex,jdbcType=TINYINT},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null" >
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="wxId != null" >
        wx_id = #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="wxSession != null" >
        wx_session = #{wxSession,jdbcType=VARCHAR},
      </if>
      <if test="wxNickName != null" >
        wx_nick_name = #{wxNickName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </update>
</mapper>