<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ixchou.mappings.TMomentMapper">
  <resultMap id="BaseResultMap" type="com.ixchou.model.entity.TMoment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="content_id" jdbcType="INTEGER" property="contentId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <association property="content" column="content_id" fetchType="eager" select="com.ixchou.mappings.TContentMapper.selectByPrimaryKey"/>
    <collection property="attachments" column="id" fetchType="eager" select="com.ixchou.mappings.TAttachmentMapper.selectByHostId"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, is_deleted, create_time, update_time, type, content_id, title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_moment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 直接查询 -->
  <select id="list" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_moment
    where type = #{type,jdbcType=TINYINT} and is_deleted = 0
    order by create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update t_moment
    set is_deleted = 1
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </delete>
  <insert id="insertSelective" parameterType="com.ixchou.model.entity.TMoment" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into t_moment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type,
      </if>
      <if test="contentId != null">
        content_id,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="contentId != null">
        #{contentId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ixchou.model.entity.TMoment">
    update t_moment
    <set>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="contentId != null and contentId > 0 ">
        content_id = #{contentId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>