<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ixchou.mappings.TMottoMapper" >
  <resultMap id="BaseResultMap" type="com.ixchou.model.entity.TMotto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="post_member" property="postMember" jdbcType="INTEGER" />
    <result column="update_times" property="updateTimes" jdbcType="INTEGER" />
    <result column="post_time" property="postTime" jdbcType="TIMESTAMP" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ixchou.model.entity.TMotto" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, post_member, update_times, post_time, last_update
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_motto
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </select>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_motto
    where is_deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update t_motto
    set is_deleted = 1
    where id = #{id,jdbcType=INTEGER} is_deleted = 0
  </delete>
  <insert id="insert" parameterType="com.ixchou.model.entity.TMotto" >
    insert into t_motto (post_member, content)
    values (#{postMember,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ixchou.model.entity.TMotto" >
    insert into t_motto
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postMember != null" >
        post_member,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postMember != null" >
        #{postMember,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ixchou.model.entity.TMotto" >
    update t_motto
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="postMember != null" >
        post_member = #{postMember,jdbcType=INTEGER},
      </if>
      <if test="updateTimes != null" >
        update_times = update_times + 1,
      </if>
      <if test="lastUpdate != null" >
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ixchou.model.entity.TMotto" >
    update t_motto
    set is_deleted = #{isDeleted,jdbcType=TINYINT},
      post_member = #{postMember,jdbcType=INTEGER},
      update_times = update_times + 1,
      last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ixchou.model.entity.TMotto" >
    update t_motto
    set is_deleted = #{isDeleted,jdbcType=TINYINT},
      post_member = #{postMember,jdbcType=INTEGER},
      update_times = update_times + 1,
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>